.grid-item { 
	height:300px;	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align:center;
	cursor:pointer;
	margin: 0 20px 20px 0;
	border-radius: 10px 10px 10px 10px;
}
.grid-item:hover {
	background-color:rgb(230, 230, 230)
}
.picture {
	margin-top:5%;
}
.picture:hover {
	border:1px dashed #3E6D8E;
}
/*******Блок тегов*****/
.blockTag li {
	list-style-type:none;
	float:left;
	margin-right:10px;
	border:1px solid #e4edf4;
	padding:10px;
	cursor:pointer;
	width:75px;
	text-align:center;
	color:#3e6d8e;
	background:#e4edf4;
	margin-bottom:10px;
}
.blockTag li:hover{
	background:#E4EEBC;
}
.blockTag {
	margin-bottom:3%;
	margin-top:3%;
}
.title, .tag {
	/*	dispay:none; */
	text-align:center;
	color:navy;
	font-weight:bold;
}
.title {
	bottom:10%;
	color:inherit;
}
.curTag {
	float:right;
	font-size:250%;
	margin-right:50px;
}
@media screen and (max-width:800px) {
	.curTag, .bigimage {
		display:none;
	}
}
/*********** Header ***********/
.header {
	background:#3E6D8E;
	morgin-bottom:5%;
	padding:10px;
}
.topmenu div, .topmenu div a {
	font-size:16px;
	text-decoration: none;
	color:white;
	cursor:pointer;
}
.topmenu div:hover, .topmenu div a:hover {
	color:yellow;
}
.bigimage {
	padding:0px;
	margin-top:50px;
}
.detail {
	margin-top:5%;
}
.slogan {
	position:absolute;
	top:250px;
	color:white;
	font-size:32px;
	text-align:center;
	width:100%;
}
/*******************************/

.btn-block{
	text-align:center;
}
#inputText{
	resize: none;
}
#modal{
	display:none;
	color:#3E6D8E;
}
.modal-header h2 {
	text-align:center;
}
.btn-block button {
	width:50%;
}
/* Button Ups */
#up {
	width:60px;
	height:60px;
	position:fixed;
	bottom:50px;
	right:20px;
	z-index:999;
	background-color:#3E6D8E;
	border-radius:30px; 
	color:white;
	text-align:center;
	font-weight:bold;
	vertical-align:middle;
	display:none;
	padding:0;
	font-size:16px;
	cursor:pointer;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#up:hover {
	background-color:#fff;
	color:black;
}
#up p {
	padding-top:20px;
}
.span2 {
	margin-bottom:5px;
}
iframe {
	width:100%;
	height:900px;
	
}