<div class="container" data-ng-controller="showController">
	<div class="row-fluid blockTag">
		<ul>
			<li data-tag="JS">Native JS</li>
			<li data-tag="jQuery">jQuery</li>
			<li data-tag="AngularJS">AngularJS</li>
			<li data-tag="Node">Node.js</li>
		</ul>
	</div>
	<div class="hidden-xs curTag">
		#all
	</div>
	<div class="grid">
		<div class="row-fluid">
			<div class="grid-item span4" data-ng-repeat="elem in arrElem">
				<div>
					<img data-ng-src= {{elem.srcPicture}} class="picture">
				</div>
				<h5 class="title">{{elem.title}}</h5>
				<div class="tag">{{elem.hashTag}}</div>
			</div>
		</div>		
	</div>
</div>