<div class="container-fluid bigimage" >
	<img src="img/header_fon.jpg" width="100%">
	<div class="slogan">В заданные сроки. За разумную цену. Приемлемое качество.</div>
</div>
<div class="container main" data-ng-controller="ShowAll">
	<div class="row-fluid blockTag">
		<div>
			<ul>
				<li data-ng-repeat="category in arrCategory" data-tag="{{category.short}}">{{category.name}}</li>
			</ul>
		</div>
		<div class="curTag">
			#all
		</div>
	</div>
	<div class="grid">
		<div class="row-fluid">
			<div class="grid-item span4" data-ng-repeat="elem in arrElem">
				<a href="#/include/{{elem.name}}">
				<div>
					<img data-ng-src= {{elem.srcPicture}} class="picture">
				</div>
				<h5 class="title">{{elem.title}}</h5>
				<div class="tag">{{elem.hashTag}}</div>
				</a>				
			</div>
		</div>		
	</div>
	<script>
	///Отложенная загрузка, ждем загрузки  AngularJS
	setTimeout(function(){
		$('.grid').isotope({
			itemSelector: '.grid-item',
			layoutMode: 'fitRows'
		});
		$('.blockTag ul li').on('click',function() {
							var curAttr = $(this).attr('data-tag');
							$('.curTag').fadeOut(200,function(){
								$('.curTag').text('#'+curAttr).fadeIn();		
							});
							$('.grid').isotope({
										filter: function() {	
													var tag = false;
													var arrTags = $(this).find('.tag').text();
													arrTags = arrTags.split('#');
													$.each(arrTags,function(index,value){
														if (value == curAttr) {
															tag = true;
														}
													});
													return tag;	
													}	
													
												})
							});					
		},1000);								
	</script>
</div>